---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Hero from '../components/Hero.astro';
import BriefCase from '../components/icons/BriefCase.astro';
import CodeIcon from "../components/icons/Code.astro"
import TitleSection from '../components/TitleSection.astro';
import ProfileCheck from "../components/icons/ProfileCheck.astro"
---

<Layout>
	<main class="px-4">
		<SectionContainer class="py-15 md:py-36">
          <Hero>
			<slot/>
		  </Hero>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<TitleSection>
				<BriefCase class="size-8"/>
				Experiencia laboral
			</TitleSection>
		</SectionContainer>
		<SectionContainer id="proyectos">
			<TitleSection>
				<CodeIcon class="size-7"/>
                Proyectos
			</TitleSection>
		</SectionContainer>
		<SectionContainer id="sobre-mi">
	        <TitleSection>
				<ProfileCheck class="size-8"/>
				Sobre mi 
			</TitleSection>
		</SectionContainer>

	</main>
</Layout>
