---
const personalImageAlt="Manuel de Jesus Gomez Perez"
---


<article class="flex flex-col item-center text-justify justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            Hola, que tal, Me llamo Manuel Gomez pero mi conocidos me llaman Manu o Meño. 
            Llevo dos años en el entorno del desarrollo,
            <strong> Mi introduccion a la programacion fue el desrrollo de paginas web,atravez de videos de youtube para aprobar una materia en la prepa </strong>
            Actualmente no cuento con mucha experiencia laboral pero estoy enfocado en el desarrollo de mis proyectos personales.
        </p>
        <p>
            <strong>Algunos de mis proyecto personales que puedo mencionar</strong> 
            fue el desarrollo de un convertidor de sistemas numericos. 
            La funcion de esto herramienta, fue poder diseñar algoritmos que me ayudara 
            hacer calculos de conversiones de numeros del sistema decimal a binario.
        </p>
        <p>
            Actualmente estoy en busca de ofertas laborales,
             y disponible para aceptar una oferta de trabajo en el cual me permita seguir acumulando experencia y conociendo el mercado laboral para los desarrolladores,
             Otra cosa, me gusta mucho el cafe y  me gusta ver peliculas, son mis actividades favoritas  que disfruto en mis tiempos libres.
        </p>
    </div>
     <img width="200" height="200" src="https://avatar.iran.liara.run/public/11" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>