---
const personalImageAlt="Manuel Gomez"
import Badga from "./Badga.astro"
import SocialPill from "./SocialPill.astro"
import MailIcon  from "./icons/Mail.astro"
import LinkedInIcon from "./icons/Linkedln.astro"
---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
        <img
           class="rounded-full shadow-lg size-16"
           src="https://avatar.iran.liara.run/public/11"
           alt={personalImageAlt}
        />
       <Badga>Disponible para Trabajar</Badga>
    </div>
    <h1
     class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
    Hola, Soy Manuel Gomez

    </h1>
    <p
     class="mt-6 text-xl text-gray-200 dark:[&>strong]:text-blue-500 [&>strong]:text-blue-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      +2 años de experiencia. <strong>Ingeniero de software de Tijuana, Mexico.</strong>
      Especializado en el desarrollo  fullstack web
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="mailto:manuelgom3z22052003@gmail.com">
         <MailIcon  class="size-4"/>
         Contactame
      </SocialPill>
      <SocialPill href="https://linkedin.com/in/midudev">
         <LinkedInIcon class="size-4" />
         LikedIn
      </SocialPill>
    </nav>
</div>